<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>MapNewIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Marathon Map</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sce2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.map</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LEMap</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PID Map Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>maps</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PathwaysDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pfhlev</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MapNewIcon</string>
			<key>CFBundleTypeName</key>
			<string>Pfhorge Level</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PfhL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.xmission.dragons.pfhorge.level</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PhPfhorgeSingleLevelDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sen</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MapNewIcon</string>
			<key>CFBundleTypeName</key>
			<string>Pfhorge Scenario</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PfhS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.xmission.dragons.pfhorge.scenario</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PhPfhorgeScenarioLevelDoc</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>Pfhorge $(CURRENT_PROJECT_VERSION) - © Joshua D. Orr 2005 All Rights Reserved</string>
	<key>CFBundleIconFile</key>
	<string>PhorgeAppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pfhorge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>PFrg</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Pfhorge.sdef</string>
	<key>PfhPathwaysConvert</key>
	<dict>
		<key>Lights</key>
		<dict>
			<key>Normal</key>
			<integer>16</integer>
			<key>Teleport</key>
			<integer>0</integer>
		</dict>
		<key>Transfers</key>
		<dict>
			<key>Normal</key>
			<integer>0</integer>
			<key>Teleport</key>
			<integer>4</integer>
		</dict>
		<key>WallTextures</key>
		<array>
			<dict>
				<key>BevelWall</key>
				<integer>8</integer>
				<key>Ceiling</key>
				<integer>13</integer>
				<key>Collection</key>
				<integer>0</integer>
				<key>Door</key>
				<integer>29</integer>
				<key>DoorCeiling</key>
				<integer>7</integer>
				<key>DoorFloor</key>
				<integer>17</integer>
				<key>DoorWall</key>
				<integer>21</integer>
				<key>FancyWall</key>
				<integer>9</integer>
				<key>Floor</key>
				<integer>6</integer>
				<key>Teleport</key>
				<integer>25</integer>
				<key>Wall</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>BevelWall</key>
				<integer>18</integer>
				<key>Ceiling</key>
				<integer>5</integer>
				<key>Collection</key>
				<integer>1</integer>
				<key>Door</key>
				<integer>21</integer>
				<key>DoorCeiling</key>
				<integer>6</integer>
				<key>DoorFloor</key>
				<integer>14</integer>
				<key>DoorWall</key>
				<integer>16</integer>
				<key>FancyWall</key>
				<integer>11</integer>
				<key>Floor</key>
				<integer>28</integer>
				<key>Teleport</key>
				<integer>10</integer>
				<key>Wall</key>
				<integer>26</integer>
			</dict>
			<dict>
				<key>BevelWall</key>
				<integer>12</integer>
				<key>Ceiling</key>
				<integer>18</integer>
				<key>Collection</key>
				<integer>2</integer>
				<key>Door</key>
				<integer>29</integer>
				<key>DoorCeiling</key>
				<integer>14</integer>
				<key>DoorFloor</key>
				<integer>18</integer>
				<key>DoorWall</key>
				<integer>5</integer>
				<key>FancyWall</key>
				<integer>28</integer>
				<key>Floor</key>
				<integer>26</integer>
				<key>Teleport</key>
				<integer>13</integer>
				<key>Wall</key>
				<integer>21</integer>
			</dict>
		</array>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pfhorge Level</string>
			<key>UTTypeIconFile</key>
			<string>MapNewIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.xmission.dragons.pfhorge.level</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>PfhL</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>pfhlev</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pfhorge Scenario</string>
			<key>UTTypeIconFile</key>
			<string>MapNewIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.xmission.dragons.pfhorge.scenario</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>PfhS</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sen</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Map File</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.map</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sce∞</string>
					<string>sce2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sceA</string>
					<string>scen</string>
					<string>sce</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Shapes File</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.shapes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>shp2</string>
					<string>shp∞</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>shpA</string>
					<string>shps</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Physics File</string>
			<key>UTTypeIconFile</key>
			<string>PhysIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.physics</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>phy∞</string>
					<string>phy2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>phyA</string>
					<string>phys</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
